@import '~include-media/dist/include-media';
@import '~open-color/open-color';

$red: #fa5252;
$orange: #fd7e14;
$yellow: #fcc419;
$green: #40c057;
$blue: #339af0;
$indigo: #5c64fa;
$purple: #a150f2;

$phone: "only screen and (max-width : 769px)";
$desktop: "screen and (min-width : 769px)";